@use './value.scss';

#layout {
  #cart-container {
    min-height: 93dvh;
    padding: 0 6rem;
    background-color: value.$lightColor;

    h1 {
      font-size: 50px;
      text-align: center;
      color: value.$darkBrown;
      text-wrap: pretty;
    }
    #total {
      margin-bottom: 20px;
    }
    .product-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        width: clamp(260px, 90%, 340px);
        height: 400px;
        border: 2px solid value.$darkBrown;
        box-shadow: 0px 0px 3px 1px value.$darkBrown;
        color: value.$darkBrown;
        * {
          margin-block: 5px;
        }
        .product-cover {
          height: 80%;
          overflow-y: hidden;
        }
        input[type='number'] {
          width: 5ch;
          padding: 3px;
          outline: none;
          border: 3px solid value.$darkBrown;
          background-color: transparent;
          color: value.$darkBrown;
          &:focus {
            border-color: value.$lightBrown;
          }
        }
        .remove {
          background-color: value.$darkBrown;
          border: none;
          color: white;
          padding: 5px;
          cursor: pointer;
          &:active {
            filter: brightness(1.5);
          }
        }
      }
    }
    #info {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: value.$darkBrown;
      margin-bottom: 20px;
      input {
        outline: none;
        padding: 5px;
        border: 3px solid value.$darkBrown;
        background-color: transparent;
        margin-block: 5px;
        color: value.$darkBrown;
        &:focus {
          border-color: value.$lightBrown;
        }
      }
    }
    #checkout-box {
      padding-bottom: 20px;
      #checkout {
        display: block;
        text-align: center;
        background-color: value.$darkBrown;
        border: none;
        color: white;
        padding: 5px;
        cursor: pointer;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #layout {
    #cart-container {
      padding: 0 0.5rem;
      #product-box {
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
    #cart-container {
      padding: 0 1rem;
      #product-box {
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
    #cart-container {
      padding: 0 1.5rem;
      #product-box {
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #layout {
    #cart-container {
      padding: 0 3rem;
      #product-box {
      }
    }
  }
}
