@use './value.scss';

#layout {
  #detail-container {
    position: relative;
    min-height: 93dvh;
    background-color: value.$lightColor;
    display: flex;
    justify-content: center;
    padding: 10px 6rem;
    #loading {
      left: 0;
      align-self: center;
    }
    * {
      margin-block: 5px;
      margin-inline: 5px;
    }
    img {
      width: clamp(450px, 50%, 550px);
      height: 60dvh;
      object-fit: contain;
    }
    #info {
      width: clamp(400px, 45%, 500px);

      #title {
        font-size: value.$extraLargeFontSize;
        text-align: start;
      }
      p {
        font-size: value.$largeFontSize;
        span#stock {
          &.empty {
            color: red;
          }
        }
      }
      #buttons {
        button {
          background-color: value.$darkBrown;
          border: none;
          // border-radius: value.$radius;
          color: white;
          padding: 5px;
          margin-right: 5px;
          cursor: pointer;
          &:disabled {
            cursor: not-allowed;
            background-color: grey;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #layout {
    #detail-container {
      flex-direction: column;
      align-items: center;
      padding: 10px 0.5rem;
      * {
        margin-inline: 0px;
      }
      img {
        width: 100%;
        height: auto;
      }
      #info {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
    #detail-container {
      flex-direction: column;
      padding: 10px 1rem;
      * {
        margin-inline: 0px;
      }
      img {
        width: 100%;
        height: auto;
      }
      #info {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
    #detail-container {
      padding: 10px 1.5rem;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #layout {
    #detail-container {
      padding: 10px 3rem;
    }
  }
}
