@use './value.scss';

#layout {
  #forgot-password-container {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 93dvh;
    background-color: value.$lightColor;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(value.$cardWidth * 1.5);
      border: 2px solid value.$darkBrown;
      box-shadow: 0px 0px 3px 1px value.$darkBrown;
      padding: 1rem;
      input {
        outline: none;
        background-color: transparent;
        padding: 5px;
        border: 3px solid value.$darkBrown;
        margin-bottom: 1rem;
        &:focus {
          border-color: value.$lightBrown;
        }
      }
      #buttons {
        margin-bottom: 1rem;
        button {
          background-color: value.$darkBrown;
          border: none;
          // border-radius: value.$radius;
          color: white;
          padding: 5px;
          margin-inline: 5px;
          cursor: pointer;
        }
      }
      a {
        text-decoration: none;
        color: value.$darkBrown;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #layout {
    #forgot-password-container {
      form {
        width: calc(value.$cardWidth * 1);
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #layout {
  }
}
