@use './value.scss';

#layout {
  #homepage-container {
    position: relative;
    min-height: 93dvh;
    background-color: value.$lightColor;
    #img-auto-slide {
      display: block;
      width: 100%;
      height: 75dvh;
      padding: 0 6rem;
      object-fit: cover;
      animation-name: img-auto-slide;
      animation-duration: 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    h1 {
      margin-block: 50px;
      font-size: 70px;
      text-align: center;
      color: value.$darkBrown;
    }
    .checkout-result-title {
      margin-block: 0px 50px;
    }
    #new-items-slider {
      position: relative;
      height: 50dvh;
      overflow: hidden;
      #slide-left {
        position: absolute;
        left: 1rem;
        top: calc(25dvh - 1rem);
        background: none;
        border: none;
        cursor: pointer;
        img {
          height: 2rem;
          width: 2rem;
        }
      }
      #slider {
        width: calc(value.$cardWidth * 3);
        position: relative;
        left: calc(50% - value.$cardWidth * 1.5);
        height: 50dvh;
        #cards {
          width: max-content;
          display: flex;
          align-items: center;
          height: 50dvh;

          transition: 0.3s;
          .product-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 2px solid transparent;
            box-shadow: 0px 0px 3px 1px transparent;
            transition: 0.3s;
            width: 300px;
            height: 400px;
            &:hover {
              border-color: value.$darkBrown;
              box-shadow: 0px 0px 3px 1px value.$darkBrown;
            }
            a {
              height: 65%;
              width: 100%;
              overflow-y: hidden;

              .product-cover {
                height: 100%;
                width: 100%;
                transition: 0.3s;
                object-fit: contain;
                &:hover {
                  scale: 1.1;
                }
              }
            }
          }
        }
      }

      #slide-right {
        position: absolute;
        right: 1rem;
        top: calc(25dvh - 1rem);
        background: none;
        border: none;
        cursor: pointer;
        img {
          height: 2rem;
          width: 2rem;
        }
      }
    }
    h2 {
      margin-bottom: 50px;
      font-size: 50px;
      text-align: center;
      color: value.$darkBrown;
    }
    #feedbacks {
      margin-bottom: 50px;
      padding: 0 12rem;
      columns: 5;
      column-gap: 5px;
      .feedback-card {
        padding: 0.375rem;
        display: flex;
        flex-direction: column;
        break-inside: avoid;
        border: 2px solid value.$darkBrown;
        box-shadow: 0px 0px 3px 1px value.$darkBrown;
        img {
          align-self: center;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
        }
      }
    }
    #to-search {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
      h3 {
        font-size: 50px;
        text-align: center;
        color: value.$darkBrown;
      }
      p {
        margin-bottom: 50px;
        font-size: 35px;
        text-align: center;
        color: value.$darkBrown;
      }
      a {
        text-decoration: none;
        font-size: 25px;
        background-color: value.$darkBrown;
        color: white;
        padding: 5px;
      }
      #pic-and-link {
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: show;
        animation-fill-mode: forwards;
        animation-timeline: view();
        animation-range-end: 50%;
        * {
          margin-inline: 20px;
        }
        img {
          width: 30%;
          height: auto;
        }
      }
    }
  }
}

@keyframes img-auto-slide {
  0%,
  9% {
    opacity: 1;
    content: value.$img1;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0;
  }
  11%,
  29% {
    opacity: 1;
    content: value.$img2;
  }
  31%,
  49% {
    opacity: 1;
    content: value.$img3;
  }
  51%,
  69% {
    opacity: 1;
    content: value.$img4;
  }
  71%,
  89% {
    opacity: 1;
    content: value.$img5;
  }
  91%,
  100% {
    opacity: 1;
    content: value.$img1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@for $i from 1 through 8 {
  #layout #homepage-container #new-items-slider #cards .product-card:nth-of-type(#{$i}) {
    // transform: translateX(calc((clamp(300px, 90%, 380px) * ($i - 1)) + 250px));
  }
}

@media screen and (max-width: 576px) {
  #layout {
    #homepage-container {
      #img-auto-slide {
        padding: 0 0.5rem;
        height: 40dvh;
      }
      #new-items-slider {
        #slide-left {
          left: 0.25rem;
          top: calc(25dvh - 0.75rem);
          img {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
        #slide-right {
          right: 0.25rem;
          top: calc(25dvh - 0.75rem);
          img {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
        #slider {
          width: calc(value.$cardWidth * 1);
          left: calc(50% - value.$cardWidth * 0.5);
        }
      }
      #feedbacks {
        padding: 0 1rem;
        columns: 1;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
    #homepage-container {
      #img-auto-slide {
        height: 45dvh;
        padding: 0 1rem;
      }
      #new-items-slider {
        #slider {
          width: calc(value.$cardWidth * 1);
          left: calc(50% - value.$cardWidth * 0.5);
        }
      }
      #feedbacks {
        padding: 0 2rem;
        columns: 2;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
    #homepage-container {
      #img-auto-slide {
        height: 55dvh;
        padding: 0 1.5rem;
      }
      #new-items-slider {
        #slider {
          width: calc(value.$cardWidth * 1);
          left: calc(50% - value.$cardWidth * 0.5);
        }
      }
      #feedbacks {
        padding: 0 3rem;
        columns: 3;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #layout {
    #homepage-container {
      #img-auto-slide {
        height: 65dvh;
        padding: 0 3rem;
      }
      #new-items-slider {
        #slider {
          width: calc(value.$cardWidth * 2);
          left: calc(50% - value.$cardWidth * 1);
        }
      }
      #feedbacks {
        padding: 0 6rem;
        columns: 4;
      }
    }
  }
}
