@use './value.scss';

#layout {
  main {
    min-height: 90dvh;
    #class-filters {
      display: flex;
      justify-content: flex-end;
      * {
        background: none;
        border: none;
        margin: 10px;
        cursor: pointer;
        color: value.$darkBrown;
      }
    }
    #ambiguous-search {
      display: block;
      margin: 0 auto;
      border-radius: value.$radius;
      outline: none;
      padding: 5px;
      border: 3px solid value.$darkBrown;
      &:focus {
        border-color: value.$lightBrown;
      }
    }
    #product-container {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      padding: 10px;
      .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        width: clamp(260px, 90%, 340px);
        height: 400px;
        border-radius: value.$radius;
        border: 3px solid value.$middleBrown;
        .product-cover {
          height: 80%;
          border-radius: value.$radius;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #layout {
    main {
      #product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
    main {
      #product-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
    main {
      #product-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  #layout {
    main {
      #product-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
