@use './value.scss';

#layout {
  #member-container {
    min-height: 93dvh;
    padding: 0 6rem;
    background-color: value.$lightColor;
    h1 {
      font-size: 50px;
      text-align: center;
      color: value.$darkBrown;
      text-wrap: pretty;
      margin-bottom: 20px;
    }
    #info {
      display: flex;
      flex-direction: column;
      align-items: end;
      color: value.$darkBrown;
      width: max-content;
      margin-inline: auto;
      margin-bottom: 20px;
      input {
        outline: none;
        padding: 5px;
        border: 3px solid value.$darkBrown;
        background-color: transparent;
        margin-block: 5px;
        &:focus {
          border-color: value.$lightBrown;
        }
      }
      button {
        background-color: value.$darkBrown;
        border: none;
        color: white;
        padding: 5px;
        cursor: pointer;
        margin: 5px;
        margin-right: 0px;
      }
      #links {
        display: flex;
        justify-content: center;
        align-self: center;
        a {
          background-color: value.$darkBrown;
          border: none;
          color: white;
          padding: 5px;
          margin-inline: 5px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #layout {
    #detail-container {
      flex-direction: column;
      align-items: center;
      padding: 10px 0.5rem;
      * {
        margin-inline: 0px;
      }
      img {
        width: 100%;
        height: auto;
      }
      #info {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
    #detail-container {
      flex-direction: column;
      padding: 10px 1rem;
      * {
        margin-inline: 0px;
      }
      img {
        width: 100%;
        height: auto;
      }
      #info {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
    #detail-container {
      padding: 10px 1.5rem;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #layout {
    #detail-container {
      padding: 10px 3rem;
    }
  }
}
