@use './layout.scss';
@use './homepage.scss';
@use './login.scss';
@use './register.scss';
@use './forgot-password.scss';
@use './list.scss';
@use './detail.scss';
@use './value.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: clip;
  scroll-behavior: smooth;
  font-size: value.$largeFontSize;
}
