$lightColor: #f8f4e1;
$lightBrown: #af8f6f;
$middleBrown: #74512d;
$darkBrown: #543310;
$transitionTime: 0.5s;
$radius: 8px;
$normalFontSize: clamp(16px, 2vw, 24px);
$largeFontSize: clamp(20px, 2.4vw, 28px);
$extraLargeFontSize: clamp(28px, 3.2vw, 36px);
$cardWidth: clamp(220px, 90%, 300px);
$img1: url('../assets/books-1.jpg');
$img2: url('../assets/books-2.jpg');
$img3: url('../assets/books-3.jpg');
$img4: url('../assets/books-4.jpg');
$img5: url('../assets/books-5.jpg');
